body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.74' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(22.1) translate(-954.75 -716.06)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(22.1) translate(-954.75 -716.06)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(22.1) translate(-954.75 -716.06)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(22.1) translate(-954.75 -716.06)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(22.1) translate(-954.75 -716.06)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(22.1) translate(-954.75 -716.06)'%3E%3Cg fill='%23528aff'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(22.1) translate(-954.75 -716.06)'%3E%3Cg fill='%23528aff'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(22.1) translate(-954.75 -716.06)'%3E%3Cg fill='%23528aff'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    /* background by SVGBackgrounds.com */

}
body > div:first-child {
    padding: 1em;
}
header.main > nav.navbar-dark{
    /*background-color: rgb(63, 117, 162);
    background-color: rgb(108 117 125);*/
    background-color: rgb(59 59 59);
    background-image: none;
}



.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}



/*
 * Extra utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}
.hidden{
    display: none;
}
#drop-area{
    background-position: center;background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    width: auto;
}

main.main-inner {
    width: 100%;
}

body {
    color: #424242;
}

.lio-modal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    height: 100%;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-top: 3px solid rgb(59 59 59);
}

.lio-modal > .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef;
    padding: 0.2rem 0.5rem;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.lio-modal .title {
    margin-bottom: 0;
    line-height: 1.5;
}

.lio-modal > .header > .buttons {
    display: flex;
    height: 100%;
}

.lio-modal > .header > .buttons > div {
    display: flex;
    font-size: 1rem;
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    cursor: pointer;
    background-color: transparent;
    -webkit-appearance: none;
    border: 1px solid #1515156b;
    width: 30px;
    height: 25px;
}

.lio-modal > .header > .buttons > div:hover {
    opacity: 1;
}

.lio-modal > .header > .buttons > div > i {
    margin: auto;
}

.lio-modal > .header > .buttons > :not(:last-child) {
    margin-right: .25rem;
}

.lio-modal > .body {
    width: 100%;
    height: 100%;
    /*padding: 5px;*/
}

.lio-modal > .body > form {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}
.lio-modal > .footer > input[type=button] {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*border: 1px solid transparent;*/
    padding: .175rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.lio-modal > .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.4rem;
    border-top: 1px solid #e9ecef;
}

.lio-modal > .footer:not(:empty) {
    min-height: 50px;
}

.lio-modal > .footer > :not(:last-child) {
    margin-right: .25rem;
}


.lio-vertical-tabs{
    display: flex;
}
.lio-vertical-tabs > .lio-modal {
    border-left: none;
    height: 100%;
}
.lio-vertical-tabs > .lio-modal > .header > .title {
    font-size: 1.15rem;
}
.lio-vertical-tabs > .lio-modal > .body {
    padding-left: 15px;
}
.lio-vertical-tabs > .lio-tabs{
    border-right: none;
}
.lio-tabs {
    background-color: #3b3b3b;
    color: #d9d9d9;
    width: 130px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, .4);
    box-shadow: 0 0 1px rgba(0,0,0,0.13), 0 1px 3px rgba(0,0,0,0.2);
    border-right: none;
}
.lio-tabs > .tab-line {
    padding: 10px 5px;
    text-align: left;
    cursor: pointer;
}
.lio-tabs > .tab-line.active, .lio-tabs > .tab-line:hover {
    background-color: #fff;
    color: #3e3e3e;
}

.lio-tabs > .tab-line.activee:hover {
    background-color: #eef7ff;
}
.lio-tabs > .tab-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef;
    padding: 0.2rem 0.5rem;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.125);

    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 500;
    margin-top: 0;
}

.lio-modal .body .form-group{
    margin-bottom: 0;
    display:flex;
    flex-direction: column;
}
.lio-modal .body .form-group.inline{
    display: flex;
    flex-direction: row;
}
table > tbody > tr > td, table > tbody > tr > th, table > tfoot > tr > td, table > tfoot > tr > th, table > thead > tr > td, table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}


.table td, .table th {
    padding: 4px 5px;
}


fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}


label {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

label > input.form-control, label > select.form-control {
    margin-left: 10px;
    width: 50%
}


input[type="search"] {
. box-sizing(border-box);

    -webkit-appearance: none;
    -moz-appearance: none;

}


input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
}


input[type="file"] {
    display: block;
}


input[type="range"] {
    display: block;
    width: 100%;
}


select[multiple],
select[size] {
    height: auto;
}


input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
. tab-focus();
}


.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}


.toggler-icon {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") no-repeat center center;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    cursor: pointer;
    background-size: 100% 100%;
}


.details-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg class='bi bi-eye' width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z'%3E%3C/path%3E%3Cpath fill-rule='evenodd' d='M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center;
}

.edit-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    /*background-size: 100% 100%;*/
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg enable-background='new 0 0 91 91' height='91px' id='Layer_1' version='1.1' viewBox='0 0 91 91' width='91px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath d='M36.682,45.397l-0.002,0.001c-0.002,0.002-0.002,0.004-0.002,0.004c-0.137,0.139-0.24,0.307-0.324,0.486 c-0.023,0.045-0.039,0.086-0.057,0.133c-0.018,0.046-0.043,0.088-0.057,0.137l-4.008,14.826c-0.158,0.588,0.01,1.215,0.439,1.646 c0.324,0.323,0.758,0.498,1.201,0.498c0.148,0,0.299-0.019,0.443-0.06l14.256-3.853c0.094,0.016,0.184,0.055,0.279,0.055 c0.436,0,0.871-0.166,1.203-0.498l23.086-23.088c1.23-1.231,1.91-2.868,1.91-4.609c0-1.741-0.68-3.378-1.91-4.609l-4.154-4.154 c-2.461-2.463-6.76-2.459-9.217,0L36.682,45.397L36.682,45.397z M62.174,24.715c1.174-1.177,3.23-1.176,4.408,0.001l4.154,4.153 c0.59,0.589,0.914,1.372,0.914,2.206s-0.324,1.616-0.914,2.206l-1.25,1.25l-8.564-8.563L62.174,24.715z M58.518,28.372l8.564,8.563 l-18.23,18.231l-8.566-8.564L58.518,28.372z M39.285,50.407l6.137,6.138l-9.135,2.471l2.469-9.136L39.285,50.407z'/%3E%3Crect height='15.087' transform='matrix(0.7072 0.707 -0.707 0.7072 45.0547 -26.2009)' width='3.4' x='52.459' y='33.749'/%3E%3Cpath d='M20.961,74.166h45.74c3.596,0,6.518-2.925,6.518-6.52V44.628H69.82v23.019c0,1.721-1.398,3.119-3.119,3.119H22.662V25.662 h29.012v-3.4H20.961c-0.939,0-1.699,0.761-1.699,1.7v48.503C19.262,73.404,20.021,74.166,20.961,74.166z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
}

.remove-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg class='bi bi-trash' width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'%3E%3C/path%3E%3Cpath fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center;
}

.plus-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-plus-square' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z'/%3E%3Cpath fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E") no-repeat center center;
}

.back-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-box-arrow-left' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z'/%3E%3Cpath fill-rule='evenodd' d='M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z'/%3E%3C/svg%3E") no-repeat center center;
}

.person-plus {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-person-plus' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z'/%3E%3C/svg%3E") no-repeat center center;

}

.close-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-x-square' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z'/%3E%3Cpath fill-rule='evenodd' d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") no-repeat center center;

}

.expand-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-arrows-angle-expand' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z'/%3E%3C/svg%3E") no-repeat center center;
}


.contract-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-arrows-angle-contract' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z'/%3E%3C/svg%3E") no-repeat center center;

}

.fullscreen-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-arrows-fullscreen' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z'/%3E%3C/svg%3E") no-repeat center center;

}


.exclamation-mark-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="iso-8859-1"%3F%3E%3Csvg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 27.963 27.963" style="enable-background:new 0 0 27.963 27.963;" xml:space="preserve"%3E%3Cg%3E%3Cg id="c129_exclamation"%3E%3Cpath d="M13.983,0C6.261,0,0.001,6.259,0.001,13.979c0,7.724,6.26,13.984,13.982,13.984s13.98-6.261,13.98-13.984 C27.963,6.259,21.705,0,13.983,0z M13.983,26.531c-6.933,0-12.55-5.62-12.55-12.553c0-6.93,5.617-12.548,12.55-12.548 c6.931,0,12.549,5.618,12.549,12.548C26.531,20.911,20.913,26.531,13.983,26.531z"/%3E%3Cpolygon points="15.579,17.158 16.191,4.579 11.804,4.579 12.414,17.158 "/%3E%3Cpath d="M13.998,18.546c-1.471,0-2.5,1.029-2.5,2.526c0,1.443,0.999,2.528,2.444,2.528h0.056c1.499,0,2.469-1.085,2.469-2.528 C16.441,19.575,15.468,18.546,13.998,18.546z"/%3E%3C/g%3E%3Cg id="Capa_1_207_"%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A')  no-repeat center center;
}

.exclamation-mark-icon-high {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="iso-8859-1"%3F%3E%3Csvg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 27.963 27.963" style="enable-background:new 0 0 27.963 27.963;" xml:space="preserve" fill="%23f32616"%3E%3Cg%3E%3Cg id="c129_exclamation"%3E%3Cpath d="M13.983,0C6.261,0,0.001,6.259,0.001,13.979c0,7.724,6.26,13.984,13.982,13.984s13.98-6.261,13.98-13.984 C27.963,6.259,21.705,0,13.983,0z M13.983,26.531c-6.933,0-12.55-5.62-12.55-12.553c0-6.93,5.617-12.548,12.55-12.548 c6.931,0,12.549,5.618,12.549,12.548C26.531,20.911,20.913,26.531,13.983,26.531z"/%3E%3Cpolygon points="15.579,17.158 16.191,4.579 11.804,4.579 12.414,17.158 "/%3E%3Cpath d="M13.998,18.546c-1.471,0-2.5,1.029-2.5,2.526c0,1.443,0.999,2.528,2.444,2.528h0.056c1.499,0,2.469-1.085,2.469-2.528 C16.441,19.575,15.468,18.546,13.998,18.546z"/%3E%3C/g%3E%3Cg id="Capa_1_207_"%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A') no-repeat center center;
}

.exclamation-mark-icon-medium {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="iso-8859-1"%3F%3E%3Csvg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 27.963 27.963" style="enable-background:new 0 0 27.963 27.963;" xml:space="preserve" fill="%23f39416"%3E%3Cg%3E%3Cg id="c129_exclamation"%3E%3Cpath d="M13.983,0C6.261,0,0.001,6.259,0.001,13.979c0,7.724,6.26,13.984,13.982,13.984s13.98-6.261,13.98-13.984 C27.963,6.259,21.705,0,13.983,0z M13.983,26.531c-6.933,0-12.55-5.62-12.55-12.553c0-6.93,5.617-12.548,12.55-12.548 c6.931,0,12.549,5.618,12.549,12.548C26.531,20.911,20.913,26.531,13.983,26.531z"/%3E%3Cpolygon points="15.579,17.158 16.191,4.579 11.804,4.579 12.414,17.158 "/%3E%3Cpath d="M13.998,18.546c-1.471,0-2.5,1.029-2.5,2.526c0,1.443,0.999,2.528,2.444,2.528h0.056c1.499,0,2.469-1.085,2.469-2.528 C16.441,19.575,15.468,18.546,13.998,18.546z"/%3E%3C/g%3E%3Cg id="Capa_1_207_"%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A') no-repeat center center;
}

.exclamation-mark-icon-low {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="iso-8859-1"%3F%3E%3Csvg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 27.963 27.963" style="enable-background:new 0 0 27.963 27.963;" xml:space="preserve" fill="%233f75a2"%3E%3Cg%3E%3Cg id="c129_exclamation"%3E%3Cpath d="M13.983,0C6.261,0,0.001,6.259,0.001,13.979c0,7.724,6.26,13.984,13.982,13.984s13.98-6.261,13.98-13.984 C27.963,6.259,21.705,0,13.983,0z M13.983,26.531c-6.933,0-12.55-5.62-12.55-12.553c0-6.93,5.617-12.548,12.55-12.548 c6.931,0,12.549,5.618,12.549,12.548C26.531,20.911,20.913,26.531,13.983,26.531z"/%3E%3Cpolygon points="15.579,17.158 16.191,4.579 11.804,4.579 12.414,17.158 "/%3E%3Cpath d="M13.998,18.546c-1.471,0-2.5,1.029-2.5,2.526c0,1.443,0.999,2.528,2.444,2.528h0.056c1.499,0,2.469-1.085,2.469-2.528 C16.441,19.575,15.468,18.546,13.998,18.546z"/%3E%3C/g%3E%3Cg id="Capa_1_207_"%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A') no-repeat center center;
}


.list-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="utf-8"%3F%3E%3Csvg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"%3E%3Cg id="Bullet-list"%3E%3Cpath d="M22.9840508,12.7494497h40c0.5522995,0,0.9995995-0.4471998,0.9995995-0.9994993 c0-0.5522003-0.4473-0.9995003-0.9995995-0.9995003h-40c-0.5522003,0-0.9995003,0.4473-0.9995003,0.9995003 C21.9845505,12.3022499,22.4318504,12.7494497,22.9840508,12.7494497z"/%3E%3Cpath d="M62.9840508,31.2963505h-40c-0.5522003,0-0.9995003,0.4473-0.9995003,0.9994984 c0,0.5522995,0.4473,0.9995003,0.9995003,0.9995003h40c0.5522995,0,0.9995995-0.4472008,0.9995995-0.9995003 C63.9836502,31.7436504,63.5363503,31.2963505,62.9840508,31.2963505z"/%3E%3Cpath d="M62.9840508,51.2504501h-40c-0.5522003,0-0.9995003,0.4473-0.9995003,0.9995003 c0,0.5522995,0.4473,0.9995003,0.9995003,0.9995003h40c0.5522995,0,0.9995995-0.4472008,0.9995995-0.9995003 C63.9836502,51.6977501,63.5363503,51.2504501,62.9840508,51.2504501z"/%3E%3Cpath d="M5.9840508,5.7822499c-3.2904999,0-5.9677,2.6771998-5.9677,5.9677005c0,3.2905998,2.6772001,5.9678001,5.9677,5.9678001 c3.2905998,0,5.9678001-2.6772003,5.9678001-5.9678001C11.9518509,8.4594498,9.2746506,5.7822499,5.9840508,5.7822499z M5.9840508,15.7822504c-2.2235854,0-4.0321999-1.8086004-4.0321999-4.0323c0-2.2236004,1.8086146-4.0322003,4.0321999-4.0322003 c2.2236996,0,4.0323,1.8085999,4.0323,4.0322003C10.0163507,13.97365,8.2077503,15.7822504,5.9840508,15.7822504z"/%3E%3Cpath d="M5.9840508,26.3281498c-3.2904999,0-5.9677,2.6772003-5.9677,5.9676991c0,3.2905998,2.6772001,5.9678001,5.9677,5.9678001 c3.2905998,0,5.9678001-2.6772003,5.9678001-5.9678001C11.9518509,29.0053501,9.2746506,26.3281498,5.9840508,26.3281498z M5.9840508,36.3281517c-2.2235854,0-4.0321999-1.8086014-4.0321999-4.0323029c0-2.2235985,1.8086146-4.032198,4.0321999-4.032198 c2.2236996,0,4.0323,1.8085995,4.0323,4.032198C10.0163507,34.5195503,8.2077503,36.3281517,5.9840508,36.3281517z"/%3E%3Cpath d="M5.9840508,46.2822495c-3.2904999,0-5.9677,2.6772003-5.9677,5.967701c0,3.2905998,2.6772001,5.9678001,5.9677,5.9678001 c3.2905998,0,5.9678001-2.6772003,5.9678001-5.9678001C11.9518509,48.9594498,9.2746506,46.2822495,5.9840508,46.2822495z M5.9840508,56.2822495c-2.2235854,0-4.0321999-1.8085976-4.0321999-4.032299c0-2.2236023,1.8086146-4.0321999,4.0321999-4.0321999 c2.2236996,0,4.0323,1.8085976,4.0323,4.0321999C10.0163507,54.4736519,8.2077503,56.2822495,5.9840508,56.2822495z"/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A') no-repeat center center;
}

.kan-ban-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="iso-8859-1"%3F%3E%3Csvg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"%3E%3Cg%3E%3Cg%3E%3Cpath d="M197.999,39.423H95.305c-4.7,0-8.51,3.81-8.51,8.51c0,4.701,3.81,8.51,8.51,8.51h102.695 c8.228,0,14.924,6.694,14.924,14.923V114.8c0,8.228-6.694,14.924-14.924,14.924H31.943c-8.228,0-14.924-6.694-14.924-14.924 V71.366c0-8.229,6.694-14.923,14.924-14.923h29.324c4.7,0,8.51-3.809,8.51-8.51c0-4.7-3.81-8.51-8.51-8.51H31.943 C14.329,39.423,0,53.753,0,71.366V114.8c0,17.614,14.329,31.943,31.943,31.943h166.057c17.613,0,31.943-14.329,31.943-31.943 V71.366C229.942,53.753,215.613,39.423,197.999,39.423z"/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d="M480.057,39.423H314.001c-17.614,0-31.943,14.33-31.943,31.943V114.8c0,17.614,14.329,31.943,31.943,31.943h166.057 c17.613,0,31.943-14.329,31.943-31.943V71.366C512,53.753,497.671,39.423,480.057,39.423z M494.981,114.8 c0,8.228-6.694,14.924-14.924,14.924H314.001c-8.229,0-14.924-6.694-14.924-14.924V71.366h0c0-8.229,6.694-14.923,14.923-14.923 h166.057c8.228,0,14.924,6.694,14.924,14.923V114.8z"/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d="M197.999,202.34H31.943C14.329,202.34,0,216.669,0,234.283v43.434c0,17.614,14.329,31.943,31.943,31.943h166.057 c17.613,0,31.943-14.329,31.943-31.943v-43.434C229.942,216.669,215.613,202.34,197.999,202.34z M212.923,277.717 c0,8.228-6.694,14.924-14.924,14.924H31.943c-8.228,0-14.924-6.694-14.924-14.924v-43.434c0-8.229,6.694-14.923,14.924-14.923 h166.057c8.228,0,14.924,6.694,14.924,14.923V277.717z"/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d="M480.057,202.342H314.001c-17.614,0-31.943,14.33-31.943,31.943v43.434c0,17.612,14.329,31.941,31.943,31.941H421.97 c4.7,0,8.51-3.809,8.51-8.51c0-4.7-3.81-8.51-8.51-8.51H314.001c-8.229,0-14.924-6.694-14.924-14.922v-43.434 c0-8.229,6.694-14.924,14.924-14.924h166.057c8.228,0,14.924,6.694,14.924,14.924v43.434c0,8.228-6.694,14.922-14.924,14.922 h-24.049c-4.7,0-8.51,3.81-8.51,8.51c0,4.701,3.81,8.51,8.51,8.51h24.049c17.613,0,31.943-14.329,31.943-31.941v-43.434 C512,216.672,497.671,202.342,480.057,202.342z"/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d="M197.999,365.258h-31.473c-4.7,0-8.51,3.81-8.51,8.51s3.81,8.51,8.51,8.51h31.473c8.228,0,14.924,6.694,14.924,14.924 v43.434c0,8.229-6.694,14.924-14.924,14.924H31.943c-8.228,0-14.924-6.694-14.924-14.924V397.2 c0-8.229,6.694-14.924,14.924-14.924h100.546c4.7,0,8.51-3.81,8.51-8.51s-3.81-8.51-8.51-8.51H31.943 C14.329,365.258,0,379.587,0,397.2v43.434c0,17.613,14.329,31.943,31.943,31.943h166.057c17.613,0,31.943-14.329,31.943-31.943 V397.2C229.942,379.587,215.613,365.258,197.999,365.258z"/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d="M480.057,365.258H314.001c-17.614,0-31.943,14.329-31.943,31.943v43.434c0,17.613,14.329,31.943,31.943,31.943h166.057 c17.613,0,31.943-14.329,31.943-31.943V397.2C512,379.588,497.671,365.258,480.057,365.258z M494.981,440.634 c0,8.228-6.694,14.924-14.924,14.924H314.001c-8.229,0-14.924-6.694-14.924-14.924V397.2h0c0-8.228,6.694-14.923,14.923-14.923 h166.057c8.228,0,14.924,6.694,14.924,14.924V440.634z"/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E') no-repeat center center;
}

.big-icon {
    width: 2em;
    height: 2em;
    background-size: contain;
    margin: 0.5em;
}

.footer-function-buttons{
    position: fixed;
    bottom: 30px;
    right: 0;
}

.elapsed-time{
    color:black;
}
.inactive-icon{
    opacity:.5;
    cursor: none;
}
.pencil-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-pencil-square' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z'/%3E%3Cpath fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z'/%3E%3C/svg%3E") no-repeat center center;
}

.play-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-play-fill' viewBox='0 0 16 16'%3E%3Cpath d='M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z'/%3E%3C/svg%3E");
}

.play-icon-black{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-play-fill' viewBox='0 0 16 16'%3E%3Cpath d='M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z'/%3E%3C/svg%3E");
}

.stop-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-stop-fill' viewBox='0 0 16 16'%3E%3Cpath d='M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5z'/%3E%3C/svg%3E");
}
.stop-icon-black{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-stop-fill' viewBox='0 0 16 16'%3E%3Cpath d='M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5z'/%3E%3C/svg%3E");
}

.pause-icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pause-fill' viewBox='0 0 16 16'%3E%3Cpath d='M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z'/%3E%3C/svg%3E");
}
.image-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='1.0625em' height='1em' viewBox='0 0 17 16' class='bi bi-image' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M14.002 2h-12a1 1 0 0 0-1 1v9l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094L15.002 9.5V3a1 1 0 0 0-1-1zm-12-1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm4 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z'/%3E%3C/svg%3E");

}
.dragged, .dragTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #e4e4e4;
    padding: 3px 10px;

}

.dragged:hover {
    background-color: #e9e9e9;
}

.dragTitle {
    display: flex;
    font-weight: bold;
}

.dragged.over {
    border: 3px dotted #666;
}

.dragButton, .dragButton:focus, .dragButton:hover {
    border: none !important;
    padding: 2px 5px;
    background: none;
}
.dragButton{
    display: none; /* Modification on 2021-08-12*/
}
.dragged > div, .dragTitle > div {
    flex-basis: 10%;
    width: 10%;
    flex-shrink: 0;
    flex-grow: 0;
}

.dragged > .long, .dragTitle > .long {
    flex-basis: 15%;
    width: 15%;
}

.dragged > .short, .dragTitle > .short {
    flex-basis: 5%;
    width: 5%;
}

.drag-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.userSpan {
    padding: 5px;

    border-radius: 12px;
    font-weight: bold;
    vertical-align: middle;
}

.btn-outline-black {
    color: #000000;
    background-color: transparent;
    background-image: none;
    border-color: #000000;
}

.btn-outline-black:hover {
    color: white;
    background-color: #242424;
    background-image: none;
    border-color: white;
}


/**
Chat részletek / details
 */

.message-left, .message-right{
    float:left;
    width:100%;
}

.message-box{
    border: 1px solid #dedede;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    padding: 2px;
    width: auto;

}

.message-right .message-box{
    float: right;
}
.message-left .message-box{
    float: left;
}

.message-title, .message-source {
    float: left;
    width: 100%;
    font-size: 80%;
    font-weight: bold;
}
.message-right .message-title{
     text-align: end;
 }

.message-excerpt .date,.message-status {
    text-align: end;
    font-size: 80%;
}
.message-menu:nth-child(even) {
    /*background-color: #e6e6e6;*/
}
.message-menu.active {
    background-color: #e6e6e6;
}
.message-menu{
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
}

.message-menu:hover{
    background-color: #f0f0f0;
}

.image-icon:hover{
    background-color: #d9d9d9;
}



.clock-bar, .clock-bar > span, .clock-bar > div {
    color:white;
}

.editable-column {
    display: none;
}
.static-column{
    cursor: pointer;
}

.console{
    background-color: white;
    color:black;
}
/*
@media (max-width: 991px)
{
    .navbar-expand-lg .navbar-collapse {
        display: block;
    }
    .navbar-expand-lg .navbar-collapse .navbar-nav.ml-auto {
        display: block;
    }
}*/

.setting-bubble{
    border: 1px solid #bebebe;
    padding: 3px 10px;
    border-radius: 6px;
}
.setting-bubble .close-icon {
    margin-right: -12px;
    margin-top: -14px;
}
.status-box-4 {
    width: 25%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;

    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    box-shadow: 0 0 1px rgba(0,0,0,0.13), 0 1px 3px rgba(0,0,0,0.2);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-top: 3px solid rgb(59 59 59);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /*height: 60px;
    line-height: 60px;*/
    height: 35px;

    background-color: #fdfeffa6;
}
footer.footer {
    background-color: #3f3f3fa6;
    color: #f2f2f2;
}
.footer > .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.footer > .container > p {
    font-size: 14px;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    height: 100%;
    vertical-align: middle;
    line-height: 2.4em;
}

.footer > .footer-theme-parent {
    position:fixed;bottom:0;right:0;height: 35px;
}

.footer > .footer-theme-parent > label {
    font-weight: normal;height: 35px;
}

#theme_selector {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 5px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}


div.footer {
    position: relative;
}

/* Tooltip container */
.tooltip_div {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip_div .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .2);
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-weight: 400;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip_div:hover .tooltiptext {
    visibility: visible;
}

.setting_label {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    text-align: left;
}

.top_outer_div {
    padding: 1em;
}

#main_tasks_menu {
    float: left;
    width: 64px;
    border: 1px solid #e4e4e4;
    height: calc(100vh - 61px);
    background-color: white;
}

#main_tasks_content {
    float: left;
    width: calc(100% - 64px)
}

li.nav-item.inline {
    display: inline-flex;
}
li.nav-item.inline > * {
    margin-right: 10px;
}
.mini_top_filter_bar.navbar .navbar-nav {
    flex-direction: row;
}

.listed_tasks .project_container {
    padding: 5px 5px;
}
.listed_tasks .project_group {
    padding: 5px 5px;
}
.listed_tasks .project_group_head {
    max-width: 120px;
    border: 1px solid #e4e4e4;
    border-bottom: none;
    padding: 0 5px;
}

.listed_tasks .project_task {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.listed_tasks .project_task {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 4px 10px;
}
.listed_tasks .project_task:hover {
    background-color: #f4f4f4
}
.listed_tasks .project_task:first-child {
    border: 1px solid #e4e4e4;
}
.listed_tasks .project_task > div {
    flex-basis: 10%;
    width: 10%;
    flex-shrink: 0;
    flex-grow: 0;
}


.listed_tasks .project_task > div.short {
    flex-basis: 5%;
    width: 5%;
}
.listed_tasks .project_task > div.long {
    flex-basis: 15%;
    width: 15%;
}
.listed_tasks .project_task > div.state {
    display: none;
}
.listed_tasks .project_task > div.title {
    flex-basis: 20%;
    width: 20%;
}

.listed_tasks .project_group_head{
    border-top-right-radius: 13px;
}
.listed_tasks .project_group_head.open {
    background-color: #80808017;
}
.listed_tasks .project_group_head.in_progress, .listed_tasks .project_group_head.medium {
    background-color: #68b0eb52;

}
.listed_tasks .project_group_head.review {
    background-color: #ff980061;
}
.listed_tasks .project_group_head.high {
    background-color: rgba(255, 0, 15, 0.27);
}
.listed_tasks .project_group_head.closed, .listed_tasks .project_group_head.low {
    background-color: #c0e99261;
}


.kanban_tasks .project_container {
    padding: 5px 5px;
}

.kanban_tasks .project_container > .project_body{
    display: flex;
    justify-content: left;
    padding: 5px 15px;
}
.kanban_tasks .project_task > .id,
.kanban_tasks .project_task > .repeat,
.kanban_tasks .project_task > .state,
.kanban_tasks .project_task > .repeat,
.kanban_tasks .project_task > .priority,

.kanban_tasks .project_task > .actions
{
    display: none
}

.kanban_tasks .project_task > .users{
    order:3;
    align-content: flex-end;
    text-align: end;
    width: 100%;
}
.kanban_tasks .project_task > .date{
    order:2;
    font-size: 0.8em;
    margin-bottom:5px;
}
.kanban_tasks .project_task {
    padding: 5px 10px;
    border: 1px solid #e4e4e4;
    margin: 5px 2px;
    background-color: white;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-content: flex-start;
}
.kanban_tasks .project_task:hover {
    background-color: #eeeeee;
}
.kanban_tasks .project_group {
    padding: 5px 5px;
    border: 1px solid #e4e4e4;
    margin: 2px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.kanban_tasks .project_group_head {
    padding: 0 5px;
}


.main_content {
    padding: 5px
}

.project_container{
    margin-bottom: 10px;
}

#main_tasks_menu > .menu_icon_outer {
    text-align: center;
    padding: 10px 0;
}
#main_tasks_menu > .menu_icon_outer > span {
    width: 2em;
    height: 2em;
}

form.mini_top_filter_bar {
    padding: 0;
}
form.mini_top_filter_bar > ul {
    padding: 0 5px 3px 10px;
    /*background-color: white;*/
    background-color: #3b3b3b;
    font-size: 0.8em;
    /*border: 1px solid #eeeeee;*/
    line-height: 1;
}
form.mini_top_filter_bar > ul > li > label{
    margin-top: 3px;
    font-weight: 400;
    color: rgba(255,255,255,.5);
}

header nav.navbar {
    padding: 0.2rem 1rem;
}

.addTaskDiv > form {
    padding: 10px 15px;
}

#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
}

#loading > .loadingImage {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    /*background-image: url(./img/loading.png);*/
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='64.000000pt' height='64.000000pt' viewBox='0 0 64.000000 64.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,64.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M223 622 c-109 -39 -178 -112 -210 -221 -29 -102 4 -228 82 -306 122%0A-121 328 -121 450 0 91 92 118 241 64 356 -69 146 -241 223 -386 171z m219%0A-30 c59 -26 124 -91 151 -151 30 -64 30 -178 0 -242 -27 -60 -92 -125 -152%0A-152 -64 -30 -178 -30 -242 0 -129 59 -202 206 -169 342 43 180 242 278 412%0A203z'/%3E%3Cpath d='M132 464 c-45 -31 -13 -94 48 -94 36 0 70 27 70 55 0 28 -34 55 -70%0A55 -14 0 -36 -7 -48 -16z m89 -20 c20 -24 -1 -49 -41 -49 -40 0 -61 25 -41 49%0A8 9 26 16 41 16 15 0 33 -7 41 -16z'/%3E%3Cpath d='M432 454 c-12 -8 -22 -24 -22 -34 0 -24 37 -50 70 -50 33 0 70 26 70%0A50 0 24 -37 50 -70 50 -14 0 -36 -7 -48 -16z m88 -19 c17 -21 -4 -45 -40 -45%0A-15 0 -33 7 -40 15 -17 21 4 45 40 45 15 0 33 -7 40 -15z'/%3E%3Cpath d='M115 210 c-4 -6 20 -23 52 -38 80 -37 207 -39 301 -3 34 13 62 27 62%0A32 0 12 0 12 -87 -17 -100 -34 -192 -31 -270 9 -32 17 -54 23 -58 17z'/%3E%3C/g%3E%3C/svg%3E%0A");
    z-index: 999;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

header nav.navbar {
    padding: 0.2rem 0.7rem;
}
a.navbar-brand {
    padding-top: 5px;
}

.inner-padding {
    padding: 5px;
}
.center-text{
    text-align: center;
}
.center {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}